accelerate==1.13.0
audioread==3.1.0
auraloss==0.4.0
easydict==1.13
editdistance==0.8.1
einops==0.8.2
espnet
huggingface_hub==1.17.0
importlib-metadata==4.13.0
Levenshtein==0.27.3
librosa==0.11.0
matplotlib==3.10.9
ninja==1.13.0
nnaudio==0.3.4
numba==0.65.1
numpy==2.2.6
omegaconf==2.3.0
onnxruntime==1.23.2
onnxruntime-gpu==1.19.2
opt_einsum==3.4.0
packaging==26.2
pandas==2.3.3
pesq==0.0.4
phonemizer==3.3.0
pillow==12.2.0
protobuf==7.35.0
psutil==7.2.2
pypinyin==0.44.0
pyroomacoustics==0.10.1
pyworld==0.3.5
PyYAML==6.0.3
regex==2026.5.9
requests==2.34.2
resampy==0.4.3
rich==15.0.0
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
soundfile==0.13.1
soxr==1.1.0
sympy==1.14.0
termcolor==3.3.0
threadpoolctl==3.6.0
tilelang==0.1.8
tokenizers==0.22.2
torch==2.12.0
torchaudio==2.11.0
torchcodec==0.13.0
torchmetrics==1.9.0
torchvision==0.27.0
tqdm==4.67.3
transformers==5.9.0
triton==3.7.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
wandb==0.27.0
